* {
  font-family: "Fira Code", monospace;
  --fg-title: #f00;
  --fg-sub: #606060;
  --fg-a-one: #101010;
  --fg-a-two: #202020;
  --fg-a-three: #484848;
  --fg-code: #006600;
  --bg-code: gainsboro;
  --menu-display: inline;
  --sidebar-height: 100%;
  --sidebar-width: 160px;
  --page-main-margin: 0 0 0 var(--sidebar-width);
  --page-main-max-width: 50%;
  --page-main-padding: 0;
  --page-main-position: fixed;
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: #202020;
    color: #B8B8B8;
    --fg-sub: gray;
    --fg-a-one: silver;
    --fg-a-two: lightgray;
    --fg-a-three: whitesmoke;
    --fg-code: #00FF99;
    --bg-code: #181818;
  }
}

@media screen and (orientation:portrait) {
  * {
    --menu-display: block;
    --sidebar-height: 100px;
    --sidebar-width: 100%;
    --page-main-margin: 0;
    --page-main-max-width: 100%;
    --page-main-padding: 0 5% 5% 5%;
    --page-main-position: relative;
  }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--fg-a-one);
  display: relative;
}

a:visited {
  color: var(--fg-a-two);
}

a:hover {
  color: var(--fg-a-three);
}

#home-menu a {
  display: var(--menu-display);
}

p {
  background-color: inherit;
}

p a {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  color: var(--fg-sub);
}

pre, code {
  color: var(--fg-code);
  background-color: var(--bg-code);
}

pre {
  margin: 10px;
  padding: 10px;
}

footer {
  margin: var(--page-main-margin);
  padding: var(--page-main-padding);
  color: var(--fg-sub);
}

hr {
  width: 25%;
  border: 1px solid var(--fg-title);
}

blockquote {
  background: var(--bg-code);
  border-left: 0.5rem solid var(--fg-title);
  margin: 0;
  padding: 10px;
}

blockquote p {
  display: inline;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: var(--fg-title);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ol li::marker {
  color: var(--fg-title);
}

.title {
  color: var(--fg-title);
  font-size: 4rem;
  font-weight: bold;
}

.title-post {
  font-size: 2rem;
}

.title-sub {
  color: var(--fg-sub);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
}

.center-element {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

.sidebar {
  height: var(--sidebar-height);
  width: var(--sidebar-width);
  position: var(--page-main-position);
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.page-main {
  max-width: var(--page-main-max-width);
  margin: var(--page-main-margin);
  padding: var(--page-main-padding);
}

.list-item {
  margin-bottom: 2rem;
}

.list-title {
  font-size: 1.5rem;
}

.spacer {
  flex: 1
}

