{{ define "main" }}
<div class="sidebar">
  <a href="/">
    <div class="title center-element">
      {{ .Site.Params.title }}
    </div>
  </a>
</div>
<div class="page-main">
  <br />
  <div class="container">
    <div class="navbar-page">
      {{partial "nav.html" . }}
    </div>
  </div>
  <br /><br />
  <div class="title title-post">
    {{ .Title }}
  </div>
  <br /><br />
  <div class="container">
    {{ range .Paginator.Pages }}
    <div class="list-item">
      <a href={{ .RelPermalink }}>
        <div class="list-title">
          {{.Title }}
        </div>
      </a>
      <div class="title-sub">
        {{ .Date.Format "02/2006" }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}