{{ define "main" }}
<div class="sidebar">
  <a href="/">
    <div class="title center-element">
      {{ .Site.Params.title }}
    </div>
  </a>
</div>
<div class="page-main">
  <br />
  <div class="container">
    <div class="navbar-page">
      {{partial "nav.html" . }}
    </div>
  </div>
  <br /><br />
  <div class="title title-post">
    {{ .Title }}
  </div>
  <div class="title-sub">
    {{ .Date.Format "2 May 2006" }}
  </div>
  <br />
  {{ .Content }}
  <hr />
</div>
<div class="spacer"></div>
{{partial "footer.html" . }}
{{ end }}